<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.PageTitle}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <center>
        <h1>{{.PageTitle}}</h1>
        <ul>
            {{range .Items}}
            <li class="item">
                {{if .Url}}
                <div style="display: flex;" class="item-title"><a href="{{.Url}}" target="_blank" rel="noopener noreferrer">{{.Title}}</a></div>
                {{else}}
                <div style="display: flex;" class="item-title">{{.Title}}</div>
                {{end}}
                <div>
                <div style="display: flex;" class="item-score">Score: {{.Score}}</div>
                <div style="display: flex;" class="item-comments"><a href="{{.HN_Url}}">Comments</a></div>
                </div>
            </li>
            {{end}}
        </ul>
    </center>
</body>
</html>

